# Built outputs
*.apk
*.ap_
*.aab
*.dex
*.class

# Gradle
.gradle/
build/
gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Generated
/captures
.externalNativeBuild
.cxx
